<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Pinteresting</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Rokkitt:400,700" rel="stylesheet">
    <%= stylesheet_link_tag "application.css" %>
  </head>

  <body>

  <div class="container">
    <h1><%= @article.title %></h1>
    <p><%= @article.text %></p>
  </div>

  </body>
</html>