<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>About Anna</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Rokkitt:400,700" rel="stylesheet">
		<%= stylesheet_link_tag "application.css" %>

		<div class="container">
			<h1>About Us</h1>
			<p>Developing One Month Rails Pinteresting App</p>
		</div>
		</head>
</html>


